$blue: #0079fe;
$grey: #484846;

.mapFilter {
	margin-top: 8px;
	animation: 1s fadeIn;
	animation-fill-mode: forwards;
	cursor: pointer;
	width: 360px;
	background-color: #f4f4f4;
	padding: 24px 16px;
	position: relative;
	z-index: 10;
	top: 100px;
	border-radius: 5px;
	left: 100px;
	span {
		font-size: 24px;
		display: none;
	}
}
[data-visible='false'] {
	height: 35px;
	overflow: hidden;
	.card-wrapper,
	.media-button,
	.slider,
	label,
	input,
	h2,
	button {
		display: none;
		visibility: hidden;
	}
	span {
		display: inline;
	}
}
.card-wrapper {
	margin-bottom: 40px;
	&::after {
		content: ' ';
		display: block;
		height: 0;
		clear: both;
	}
}
.sourceCard {
	float: left;
	margin-left: 16px;
	height: 75px;
	width: 75px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	background-color: #fff;
	&[data-selected='true'],
	&:hover {
		background-color: $blue;
		color: #fff;
	}
	img {
		height: 30px;
		margin-top: 10px;
	}
}
.inputField {
	label,
	input {
		display: block;
	}
	input {
		font-size: 24px;
		margin: 16px 0px;
		width: 95%;
		height: 30px;
		padding: 10px 5px;
		border-radius: 4px;
		border: 1px solid #e0e0e0;
	}
}
.tracking {
	border: 2px solid $blue;
	text-align: center;
	font-size: 24px;
	width: 95%;
	border-radius: 4px;
	padding: 16px 0px;
	cursor: pointer;
	color: $grey;
	background-color: $blue;
	color: #fff;
	&:hover {
		background-color: $blue;
		color: #fff;
	}
}
.media-button {
	margin-top: 24px;
	button {
		border: 2px solid $blue;
		cursor: pointer;
		font-size: 24px;
		width: 45%;
		margin-right: 5%;
		border: 2px solid $blue;
		text-align: center;
		font-size: 24px;
		border-radius: 4px;
		padding: 16px 0px;
		cursor: pointer;
		color: $grey;
	}
}
.slider {
	position: fixed;
	bottom: 20px;
	width: 80vw;
}
input[type='range'] {
	-webkit-appearance: none;
	margin: 60px 0;
	width: 40%;
}
input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 17px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000;
	background: #3071a9;
	border-radius: 5px;
	border: 1px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000;
	border: 1px solid #000000;
	height: 30px;
	width: 15px;
	border-radius: 5px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7.5px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
	background: #3071a9;
}
@keyframes fadeIn {
	99% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
.circle {
	display: inline-block;
	height: 16px;
	width: 16px;
	border-radius: 9px;
	background-color: $blue;
	margin-right: 8px;
}
.red {
	background-color: red;
}
h2 {
	text-align: left;
}
